.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 30px; }
  .wrapper .container {
    width: 500px;
    height: 700px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box; }
    .wrapper .container .task {
      position: relative;
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0 100px 0 10px;
      align-items: center;
      border: 1px solid gray;
      border-radius: 5px;
      margin-bottom: 5px; }
      .wrapper .container .task:last-child {
        margin-bottom: 0px; }
      .wrapper .container .task-info {
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .wrapper .container .task-info .task-deadline {
          color: gray; }
      .wrapper .container .task-name {
        font-weight: absolute; }
      .wrapper .container .task-delete {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center; }
