$gray: gray;

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 30px;

.container {
    width: 500px;
    height: 700px;
    border: 1px solid $gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;

.task {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 100px 0 10px;
    align-items: center;
    border: 1px solid $gray;
    border-radius: 5px;
    margin-bottom: 5px;

&:last-child {
    margin-bottom: 0px;
}

&-info {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .task-deadline {
        color: gray;
    }
}

&-name {
    font-weight: absolute;
}
    
    
&-delete {
    position: absolute;    
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
}
}
}
